.bg-header {
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027) !important;
}
.bg-search {
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027) !important;
}
.bg-main {
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027) !important;
}
/* This adds gradient property to the cards created by the script.js. Since its the same gradient as the background it gives a transparent effect to the Jumbotron card.*/
.bg-jumbotron {
    background: linear-gradient(to left, #2C5364, #203A43, #0F2027) !important;
}
.bg-forecast {
    background: linear-gradient(to left, #2C5364, #203A43, #0F2027) !important;
}
.btn {
    background: linear-gradient(#000 0%, #666, #000) !important;
}

