.bg-header {
    background: linear-gradient(#000 0%, #666, #000) !important;
}

.bg-aside {
    background: linear-gradient(#000 0%, #666, #000) !important;
}

.bg-primary {
    background: linear-gradient(#000 0%, #666, #000) !important;
}

.btn-primary {
    background: linear-gradient(#000 0%, #666, #000) !important;
}

